<footer class="footer">
    <div class="contenedor-footer1">
        <ul class="contenedor-lista1">
            <li class="item-lista1">Legal</li>
            <li class="item-lista1">Cookies</li>
            <li class=" item-lista1">Información sobre los anuncios</li>
        </ul>
    </div>
    <div class="contenedor-footer2">
        <ul class="contenedor-lista2">
            <li class="contenedor-bandera">
                <h5>España</h5>
                <img class="bandera" src="./assets/images/es.svg" alt="logo España" />
            </li>

            <li>© 2019 Spotify AB</li>
        </ul>
    </div>
</footer>