<header class="contenedor">
    <nav class="menu-principal">
        <img class="main-logo" src="./assets/images/logo.png" alt="logo-spotify" title="Spotify" />
        <a href="/signup.html"> <img class="main-label" src="./assets/images/menu-icon.png" alt="desplegable"
                title="Menú" /></a>
        <ul class="container-menu">
            <li class="li-menu"><a class="link-color" href="https//:google.es">Premium</a></li>
            <li class="li-menu"><a class="link-color" href="https//:google.es">Ayuda</a></li>
            <li class="li-menu"><a class="link-color" href="https//:google.es">Descargar</a></li>
            <li class="li-menu"><a class="link-color" href="https//:google.es">Registrarse</a></li>
            <li class="li-menu">
                <a class="link-color" href="https//:google.es">Iniciar sesión</a>
            </li>
        </ul>
    </nav>

</header>