<section class="hero">
    <div class="contenedor-azul">
        <h1 class="h1">Prueba Premium gratis 3 meses</h1>
        <p class="parrafo-1">
            Escucha millones de canciones sin anuncios, a la carta y sin
            conexión.
        </p>
        <button class="button">VER PLANES</button>
        <small class="small">Rigen términos y condiciones. Los tres meses gratis no están
            disponibles para usuarios que ya hayan probado Premium.
        </small>
    </div>
</section>