<section class="beneficios">
    <h2 class="titulo2">¿Por qué pasarte a Premium?</h2>
    <ul class="lista">
        <li class="item1">
            <img class="imagen" src="./assets/images/benefit-1.png" alt="imagen música" />
            <div class="bloque-texto">
                <h3>Descarga música.</h3>

                <p>Llévala contigo siempre.</p>
            </div>
        </li>
        <li class="item2">
            <img class="imagen" src="./assets/images/benefit-2.png" alt="imagen móvil" />
            <div class="bloque-texto">
                <h3>Sin anuncios.</h3>
                <p>Disfruta de música sin interrupciones.</p>
            </div>
        </li>

        <li class="item3">
            <img class="imagen" src="./assets/images/benefit-3.png" alt="imagen elementos" />
            <div class="bloque-texto">
                <h3>Escucha lo que quieras.</h3>
                <p>Incluso en el móvil.</p>
            </div>
        </li>
        <li class="item4">
            <img class="imagen" src="./assets/images/benefit-4.png" alt="imagen play" />
            <div class="bloque-texto">
                <h3>Salta todas las canciones que quieras.</h3>
                <p>Simplemente dale a siguiente.</p>
            </div>
        </li>
    </ul>
</section>